.profile {
    border: 2px solid black;
    margin: 5px;
    display: grid;
    grid-template-columns: 150px 1fr;
}

img {
    grid-column-start: 1;
}

.profileinfo {
    display: flex;
    grid-column-start: 2;
    flex-direction: column;

    justify-content: left;
}

h3 {
    margin: 0.5em;
}

h4{
    margin: 0.5em;
}

p {
    margin: 0.5em;
}