.App {
  display: grid;
  grid-template-columns: 65% 1fr;
  /* text-align: center; */
  grid-gap: 20px;

}

button {
  display: flex;
  margin-right: 0.5em
}

#nav-buttons {
  display: flex;
}

#topnav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-column-start: 1;
  grid-column: 1 / span 2;
  background-color: rgb(97, 180, 212);
  padding: 15px;
}

#main-profile {
  display: grid;
  grid-column-start: 1;
}

#posts-container {
  display: grid;
  grid-column-start: 1;
}

  #contacts-container {
    display: grid;
    grid-column-start: 2;
    grid-row: 2 / 4;
    width: 500px;
  }

  